{% extends 'layout.html' %}
{%  block body %}
    <h1> About Us</h1>
    <p>"BEST LIBRARY NA" was founded by Aidan Tylenol, Ben Kenobi, Lord Markus and Tanzil Sucker. They were brilliant students of SFU CS department with bright career. Unfortunately on spring semester of 2021 tragedy struck. Markus one of the founders of this platform fell ill to covid. Another founder Aidan left on a vacation that he never returned from, they say his presense can still be felt. This leaves Tanzil Sucker and Ben Kenobi, the last two founding members of "BEST LIBRARY NA" to carry the legacy. </p>
{% endblock %}