{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid bg-dark text-light") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg bg-dark text-light") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label bg-dark text-light") }}

                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid bg-dark text-light") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg bg-dark text-light") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input bg-dark border-light") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <small class="text-muted">
            <a href="#">Forgot Password?</a>
        </small>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need an account?<a class="ms-2" href="{{ url_for('register') }}">Sign up now</a>
    </small>
</div>
{% endblock content %}

{% block body %}
<h1> Login</h1>
<form action="" method="POST">
    <div class="form-group">
        <label> Email</label>
        <input type="text" name="email" class="form-control" value={{ request.form.email }}>
    </div>
    <div class="form-group">
        <label> Password</label>
        <input type="password" name="password" class="form-control" value={{ request.form.password }}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
